body {
  margin: 0;
  padding: 1em;
  width: 100vw;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.subheader {
  text-align: center;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
  margin: 1em 0;
}
